@charset "utf-8";
@import "../lib/mixins";
@import "../lib/varibles";
@import "../lib/fonts";
@import "../lib/standart";

body {
  background-color: $black-lighter;
  font-family: $raleway-regular;
}
header {
  @include flex;
  @include header;
}
.header-container {
  @include flex;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .header--menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: calc(70% - 110px);
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    a {
      @include a-main;
      padding: 0 10px;
      display: flex;
      align-items: center;
      background: $black333;
    }
    a:hover {
      color: $white;
      background: $gray;
    }
    a:active {
      background: #222;
      margin-bottom: 15px;
      transition: $standart-transition
    }
  }
  li {
    font-size: 16px;
    border-left: $border-main;
    background: $almost-white;
    display: flex;
  }
  li:last-child {
    border-right: $border-main;
  }
}

.header--logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  img {
    width: auto;
    height: 80%;
  }
}
.header--profile {
  @include flex;
  -webkit-flex-basis: initial;
  -ms-flex-preferred-size: initial;
  flex-basis: initial;
  position: relative;
  width: 105px;
  height: 20px;
  background: $red;
  border: $border-main;
  border-left: none;
  margin: 25px 0;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  a {
    color: $white;
    font-size: 12px;
    text-decoration: none;
    padding-left: 15px;
    background-image: url("../../resources/arrowdown.png");
    background-repeat: no-repeat;
    background-position: left 1px center;
    background-size: 12px;
    width: calc(100% - 40px);
    height: 37px;
    @include flex;
    @include full-center;
  }
  img {
    width: 20px;
    height: 20px;
    border-left: $border-main;
  }
}
.popup-menu {
  @include flex;
  position: absolute;
  left: 0;
  top: 25px;
  width: 110px;
  box-sizing: border-box;
  background-color: $lignter-black;
  z-index: 1;
  ul {
    li {
      border: none;
      background-color: $lignter-black;
      width: 100%;
      color: $almost-white;
      box-sizing: border-box;
      &:last-child {
        border-right: 0;
      }
      &:hover {
        background-color: $red;
        transition: $standart-transition;
      }
      a {
        border-bottom: $border-1px;
        border-right: $border-1px;
        font-size: 16px;
        background: none;
        width: 100%;
        font-weight: bold;
        padding: 10px;
        box-sizing: border-box;
      }
      a.disabled, a.invisible {
        padding: 0;
        height: 0;
        border: 0;
        overflow: hidden;
      }
      a.visible {
        padding: 10px;
      }
    }
  }
}
section {
  @include section;
}
.main-post {
  height: 420px;
  background: $almost-white;
  @include flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider {
  display: flex;
  width: 100%;
  height: calc(100% - 30px);
  max-width: $size-1200px;
  overflow: hidden;
  align-items: center;
  box-shadow: $shadow;
}
.slider_footer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.slider_footer-step {
  @include slider-dot;
  &:active {
    @include dot;
  }
  &.slider_footer-step-active {
    @include dot;
  }
}
.main-post-container {
  @include flex;
  width: 100%;
  max-width: $size-1200px;
  height: 400px;
  max-height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: $white;
}
.main-post--picture-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  width: 65%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  img {
    width: 95%;
    height: auto;
  }
}
.main-post--description {
  height: 90%;
  width: 35%;
  margin: auto;
  color: $black333;
  a {
    @include a-main;
    color: $black333;
  }
  h1 {
    font: {
      size: 30px;
      weight: normal;
    }
    padding: 10px;
    line-height: 35px;
  }
  p {
    font-family: $raleway-extra-light;
    font-size: 20px;
    line-height: 140%;
    padding: 10px;
  }
}

.posts {
  background: $black;
  @include flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.posts-container {
  width: 100%;
  max-width: $size-1200px;
  padding: $size-40px 0;
  @include flex;
  flex-direction: row;
  overflow: hidden;
  background: $black333;
  .news {
    width: 65%;
    padding-right: $size-40px;
    .post {
      position: relative;
      width: calc(100% - 40px);
      min-height: 100px;
      margin-bottom: $size-40px;
      overflow: hidden;
      box-shadow: $shadow;
      background: $posts-black;
      border-top: $border-post;
      margin-left: $size-40px;
      box-sizing: border-box;
      color: $almost-white;
      padding: $size-40px;
      padding-bottom: 50px;
      @include flex;
      h1 {
        font-family: $raleway-regular;
        font-size: 30px;
        padding: 0 0 20px 0;
      }
      p {
        color: $almost-white;
      }
      a {
        color: $white;
        text-decoration: none;
        display: block;
        width: 100%;
        height: auto;
        &:hover {
          color: $red;
          transition: $standart-transition;
        }
        img {
          width: 100%;
          padding: 10px 0;
        }
      }
    }
    .flag {
      position: absolute;
      width: 30px;
      height: 30px;
      left: 5px;
      top: 0;
      background-color: $almost-white;
      cursor: pointer;
      text-align: center;
      @include flex;
      @include full-center;
      &:after {
        border: 15px solid $almost-white;
        border-bottom: 15px solid transparent !important;
        content: '';
        position: absolute;
        bottom: -25px;
        left: 0;
      }
      &.flag-news {
        background-color: $red;
        &:before {
          content: 'н';
          text-transform: uppercase;
          color: $white;
          font-size: 18px;
          font-weight: bold;
        }
        &:after {
          border-color: $red;
        }
      }
      &.flag-news:hover {
        height: 142px;
        &:before {
          text-transform: lowercase;
          padding: 10px;
          content: 'н о в о с т ь';
          color: $white;
        }
      }
      &.flag-article {
        background-color: $gold;
        &:before {
          content: 'с';
          text-transform: uppercase;
          color: $white;
          font-size: 18px;
          font-weight: bold;
        }
        &:after {
          border-color: $gold;
        }
      }
      &.flag-article:hover {
        height: 122px;
        &:before {
          text-transform: lowercase;
          padding: 10px;
          content: 'с т а т ь я';
          color: $white;
        }
      }
    }
  }
  .adds {
    width: calc(35% - 40px);
    .blocks {
      width: calc(100% - 40px);
      min-height: 100px;
      margin-bottom: $size-40px;
      margin-right: $size-40px;
      overflow: hidden;
      box-shadow: $shadow;
      background: $posts-black;
      border-top: $border-post;
      box-sizing: border-box;
      padding: 10px;
      color: $white;
      a {
        img {
          width: 100%;
          height: auto;
        }
      }
      p {
        color: $white;
      }
    }
  }
}
.search-overlay {
  display: block;
  @include full-overlay;
  position: fixed;
  z-index: 1;
}
.search-container {
  position: absolute;
  width: 50%;
  height: 100px;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  box-shadow: $shadow;
  z-index: 1;
  input {
    position: absolute;
    width: 90%;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(0,0,0,0.0);
    border: $border-post;
    padding: 10px 25px;
    color: white;
    outline: none;
    font-size: 30px;
  }
  input.turtle {
    border-radius: 0 50px 50px 0;
    border-color: green;
  }
  .search-button {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0; top: 0;
    bottom: 0;
    background: $almost-white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .search-button.turtle {
    border-radius: 0 50px 50px 0;
    background-color: green;
  }
  .loupe {
    @include loupe-bg;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }
  .loupe.turtle {
    transform: rotate(-45deg);
    margin: -4px 20px 0;
  }
}
footer {
  @include flex;
  @include full-center;
  width: 100%;
  margin: auto;
  background-color: $black;
  border: 10px solid #222;
  box-sizing: border-box;
  padding: 0;
}
.footer-container {
  @include flex;
  @include footer-blocks;
  flex-direction: row;
  padding: 0;
  h6 {
    color: $white;
    font-size: 24px;
    font-weight: bold;
  }
  ul {
    @include flex;
    flex-direction: row;
    li {
      margin-left: 20px;
      padding: 20px 0;
      &:first-child {
        margin-left: 0;
      }
      a {
        @include a-style-white;
        font-size: 14px;
        font-family: $raleway-semi-bold;
      }
    }
  }
}
.footer-colophon {
  @include flex;
  @include footer-blocks;
  border-bottom: none;
  width: 50%;
  p {
    color: $almost-white;
    font-size: 14px;
  }
}
.footer-links {
  @include flex;
  @include footer-blocks;
  width: 50%;
  border-right: 10px solid #222;
}
.social-block {
  @include flex;
  ul {
    li {
      padding: 10px 0;
      margin-left: 0;
    }
  }
  img {
    width: 75%;
    height: auto;
    border: 5px solid $black;
    &:hover {
      margin-top: -5px;
    }
  }
  .vk {
    &:hover {
      background-color: $vk;
      box-shadow: $shadow;
    }
  }
  .tw {
    &:hover {
      background-color: $tw;
      box-shadow: $shadow;
    }
  }
  .inst {
    &:hover {
      background: #fff;
      background: -moz-linear-gradient(top,  #957d60 0%, #957d60 36%, #ffffff 36%, #ffffff 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#957d60), color-stop(36%,#957d60), color-stop(36%,#ffffff), color-stop(100%,#ffffff));
      background: -webkit-linear-gradient(top,  #957d60 0%,#957d60 36%,#ffffff 36%,#ffffff 100%);
      background: -o-linear-gradient(top,  #957d60 0%,#957d60 36%,#ffffff 36%,#ffffff 100%);
      background: -ms-linear-gradient(top,  #957d60 0%,#957d60 36%,#ffffff 36%,#ffffff 100%);
      background: linear-gradient(to bottom,  #957d60 0%,#957d60 36%,#ffffff 36%,#ffffff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#957d60', endColorstr='#ffffff',GradientType=0 );
      box-shadow: $shadow;
    }
  }
  .yt {
    &:hover {
      background-color: $yt;
      box-shadow: $shadow;
    }
  }
  .fb {
    &:hover {
      background-color: $fb;
      box-shadow: $shadow;
    }
  }
}
.visible {
  @include visible;
}
.invisible {
  @include invisible;
}
.disabled {
  @include disabled;
}
.animate {
  transition: $standart-transition;
}
.kill-margin {
  margin: 0;
}